<template>
  <div class="container">
    <h1>Conways Game of Life</h1>
    <CanvasStage></CanvasStage>
  </div>
</template>

<script>
import CanvasStage from './canvas.vue'

export default {
  components: {
    CanvasStage
  }
}
</script>
