<template>
  <div class="canvas">
    <!-- Canvas -->
    <div>
      <canvas></canvas>
    </div>

    <!-- Controls -->
    <div class="controls">
      <div class="form-group">
        <label>
          Configurations
          <select class="form-control" v-model="chosenConfig">
            <option value="">Select a configuration</option>
            <option :value="key" v-for="(configuration, key) in configurations">{{ key }}</option>
          </select>
        </label>
      </div>

      <div class="form-group">
        <label>
          Framerate
          <input type="number" max="30" class="form-control" v-model="framerate">
        </label>

        <button type="button" class="btn btn-default" @click="togglePause">
          {{ pauseButtonText }}
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import Stage from '../inc/Stage.js'

export default {
  computed: {
    pauseButtonText () {
      return this.paused ? 'start' : 'pause';
    }
  },
  data () {
    return {
      configurations: {},
      chosenConfig: 'glider',
      getConfig: null,
      stage: null,
      framerate: 15,
      paused: true
    }
  },
  created () {
    // Start getting when created
    this.getConfig = this.$http.get('/configurations.json');
  },
  mounted () {
    // Action the promise when mounted
    this.getConfig.then(response => {
      this.configurations = response.body;
      this.init();
    });
  },
  methods: {
    init () {
      this.stage = new Stage({
        el: this.$el.querySelector('canvas'),
        height: 700,
        width: this.$el.offsetWidth,
        framerate: this.framerate,
        paused: this.paused
      });

      this.initStage();
    },
    initStage () {
      this.stage.init(this.configurations[this.chosenConfig]);
    },
    togglePause () {
      if (this.paused) {
        this.stage.start();
        this.paused = false;
      } else {
        this.stage.pause();
        this.paused = true;
      }
    }
  },
  watch: {
    framerate () {
      let framerate = this.framerate < 30 ? this.framerate : 15;
      this.stage.updateFramerate(framerate);
    },
    chosenConfig () {
      this.initStage();
    }
  }
}
</script>
