@import "../../node_modules/bootstrap/scss/bootstrap";

.canvas {
  position: relative;
}

.controls {
  background-color: rgba(255,255,255,0.6);
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 20px;
  border-radius: 5px;
}